<footer>
    <img src="/img/logo.svg" alt="Logo" />
    <p>
        Chanel Mepschen <time>2017</time>
    </p>
    <a href="#top" class="scroll">Back to top</a>
    <script src="/js/smoothscroll.js"></script>
</footer>
