<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chanel Mepschen - Visual Designer/Frontender</title>
</head>
<body>
<footer>
  <ul>
    <li>
      Chanel Mepschen
    </li>
    <li>
      2017
    </li>
  </ul>
</footer>
</body>
</html>
