<header id="top">
  <a href="/"><img src="/img/logo-white.svg" alt="Logo" /></a>
  <nav class="topnav">
    <ul>
      <li class="<% if(href == 'about'){%>active<%}%>">
        <a href="/about">About</a>
      </li>
      <li class="<% if(href == 'work'){%>active<%}%>">
        <a href="/work">Work</a>
      </li>
      <li class="<% if(href == 'contact'){ %>active<%}%>">
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>
