<%- include('../partials/header.ejs') %>
<h1>About</h1>
<section class="personally">
  <h2>Little bit about me</h2>
    <p> I’m a Visual Designer &amp; Front-End Developer studying Communication &amp; Multimedia Design at the Hogeschool van Amsterdam. In my free time I love playing videogames, occasionally making drawings and digitalising them. </p>
    <p> The two traits that define me is being annoyingly organised and being a perfectionist. I like to make a plan that is well structured in order to achieve a goal that has been set, but i’m also flexible enough to adjust this plan if necessary. Because I’m a perfectionist I don’t stop until I’m satisfied with my work and I always aim for something better so that I can outdo myself. </p>
</section>
<section class="resume">
  <h2>What I've done</h2>
  <p> If you want to know more about my work experience take a look at my resume!</p>
</section>
<section class="visualdesign">
  <h2>I'm a Visual Designer</h2>
  <p>
    Lorem
  </p>
</section>
<section>
  <h2>I'm a Front-End Developer</h2>
  <p>
    Lorem
  </p>
</section>
<%- include('../partials/footer.ejs') %>
