<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Chanel Mepschen - About</title>
      <%- include('../partials/style.ejs') %>
    </head>
    <body class="about">
        <%- include('../partials/header.ejs') %>
        <main>
            <div class="intro">
                <h1>About</h1>
                <%- include('../partials/scroll.ejs') %>
            </div>
            <section class="personally">
                <picture>
                    <source srcset="/img/chanel_big.jpg" media="(min-width: 864px)" />
                    <source srcset="/img/chanel_medium.jpg" media="(min-width: 501px)" />
                    <img src="/img/chanel_small.jpg" alt="Picture of me working on my laptop" />
                </picture>
                <blockquote>
                    I’m a Visual Designer and Front-End Developer living in Amsterdam, the Netherlands.
                </blockquote>
                <h2>Little bit about me</h2>
                <p> I study Communication &amp; Multimedia Design at the University of Applied Sciences Amsterdam and in my free time I love playing videogames, occasionally making drawings and digitizing them. I'm also a huuuuge Star Wars fan (and several other science-fictions)</p>
                <p> The two traits that define me is being annoyingly organised and being a perfectionist. I like to make a plan that is well structured in order to achieve a goal that has been set, but i’m also flexible enough to adjust this plan if necessary. Because I’m a perfectionist I don’t stop until I’m satisfied with my work and I always aim for something better so that I can outdo myself. </p>
            </section>
            <section class="visualdesign">
                <img src="/img/visualdesign.svg" alt="" />
                <div>
                    <h2>I'm a <span>Webdesigner</span></h2>
                    <p>I believe that creating a good visual design also contributes to serving a good user experience. It guides the users through the webpage and it will help them find what they are looking for. As a Visual Designer I aspire to bring the best user experience possible.</p>
                </div>
            </section>
            <section class="frontender">
                <img src="/img/crazycoder.svg" alt="" />
                <div>
                    <h2>I'm a <span>Crazy Coder</span></h2>
                    <p>Another fundamental part of UX is Front-End Development. It's one thing to build a website, it's another thing to make it accessible for everybody regardless of abilities, using a very old computer/browser or having slow internet connection. As a code nerd I take all these aspects into account to provide accessibility.</p>
                </div>
            </section>
            <section class="skills">
                <h2>Skills</h2>
                <img src="/img/s-node.svg" alt="Node logo" title="Server sided scripting with Node.js" />
                <img src="/img/s-js.svg" alt="JavaScript logo" title="adding dynamics with JavaScript" />
                <img src="/img/s-d3.svg" alt="D3 logo" title="D3.js, a library for creating graphs" />
                <img src="/img/s-css.svg" alt="CSS logo" title="Styling content with CSS" />
                <img src="/img/s-html.svg" alt="HTML logo" title="Creating content with HTML" />
                <img src="/img/s-sketch.svg" alt="Sketch logo" title="Creating designs with Sketch" />
                <img src="/img/s-ai.svg" alt="Illustrator logo" title="Creating illustrations with Adobe Illustrator" />
                <img src="/img/s-ps.svg" alt="Photoshop logo" title="Editing pictures with Adobe Photoshop" />
                <img src="/img/s-principle.svg" alt="Principle logo" title="Creating webanimations with Principle" />
            </section>
            <section class="resume">
                <h2>Work Experience</h2>
                <a href="/CV.pdf"><img src="/img/s-resume.svg" /></a>
                <p> If you want to know more about my work experience take a look at my resume!</p>
            </section>
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
