<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Chanel Mepschen - Visual Designer/Frontender</title>
      <%- include('../partials/style.ejs') %>
    </head>
    <body>
        <%- include('../partials/header.ejs') %>
        <main class="detail">
            <section class="intro">
                <div>
                    <h1>Black Ops 2</h1>
                    <p>
                        Second screen app for Black Ops 2:Zombies
                    </p>
                </div>
                <%- include('../partials/scroll.ejs') %>
            </section>
            <img src="/img/project5.jpg" alt="Desktop, tablet and mobile design of the project."  />
            <p class="role">
                Web Development &amp; Responsive Design
            </p>
            <h2>Design Challenge</h2>
            <p>
                Create a second screen for an excisting tv show that provides a richer user experience.
            </p>
            <h2>So what does it do?</h2>
            <p>
                Before you start a game you can costumize your character and already set some game settings like starting rounds, hounds and headshot only. During the game it will give you real time information about your ammo, Mystery Boxes that spawn and how many zombies are left. After a game has ended you can view your last game statistics.
            </p>
            <h2>How did I do it?</h2>
            <p>
                As you can see I slightly went off course by making a second screen for a game instead of a tv show, because I like videogames more than Dutch tv shows.
            </p>
            <h3>Researching the target group</h3>
            <p>
                Before designing and developing, I did some user research to find out what feature of the game could do better. I set up a survey and shared it amongst gamers. An example was that players missed some kind of character customization in Zombie mode.
            </p>
            <h3>Concept</h3>
            <p>
                Then I used the research to form a concept. Techniques like MoSCoW and Value Proposition Canvas helped me to narrow down the best ideas and combining them.
            </p>
            <h3>Design patterns and wireframes</h3>
            <p>
                The next step was to find design patterns that would suit the concept and creating wireframes based on these patterns.
            </p>
            <h3>Choosing a style</h3>
            <p>
                After making wireframes, I looked at some styles that would match Black Ops II:Zombies, because I wanted to be consistent. <strong>After all, the second screen should feel like a part of the game and not something totally different.</strong>
            </p>
            <h3>Development of the second screen</h3>
            <p>
                The last step in the process was developing the designs into a website. It's a prototype so it's not syncing with the game but it is full responsive.
            </p>
            <p>
                I didn't use any JS frameworks or libraries nor did I use things like SASS for creating CSS. All hardcoded just the way I like it!
            </p>
            <a href="#top">Back to top</a>
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
