<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Chanel Mepschen - Visual Designer/Frontender</title>
      <%- include('../partials/style.ejs') %>
    </head>
    <body class="contactpage">
        <%- include('../partials/header.ejs') %>
        <main>
            <div class="intro">
                <h1>Contact</h1>
                <%- include('../partials/scroll.ejs') %>
            </div>
            <section class="contact">
                <div>
                    <h2>Hit me up sometime</h2>
                    <p>
                        Did I spark your interest enough? If you want to collaborate or just want to see more you’re more than welcome to contact me.
                    </p>
                </div>
                <div>
                    <section class="email">
                      <h3>Get in touch by email</h3>
                      <a href="mailto:chanelmepschen856@hotmail.com">chanelmepschen856athotmail.com</a>
                    </section>
                    <section class="socialmedia">
                      <h3>Look me up on social media</h3>
                      <a href="https://nl.pinterest.com/chanelmepschen/">
                          <img src="/img/s-pinterest.svg" alt="Pinterest" />
                      </a>
                      <a href="https://github.com/ChanelZM">
                          <img src="/img/s-github.svg" alt="Github" />
                      </a>
                      <a href="https://www.instagram.com/chanelzippora/">
                          <img src="/img/s-instagram.svg" alt="Instagram" />
                      </a>
                      <a href="https://nl.linkedin.com/in/chanel-mepschen-1223a9b2">
                          <img src="/img/s-linkedin.svg" alt="LinkedIn" />
                      </a>
                    </section>
                </div>
            </section>
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
