<%- include('../partials/header.ejs') %>
<h1>Contact</h1>
<section class="email">
  <h2>Send me an email</h2>
  <a href="mailto:chanelmepschen856@hotmail.com">chanelmepschen856athotmaildotcom</a>
</section>
<section class="socialmedia">
  <h2>Follow me</h2>
  <a href="https://nl.pinterest.com/chanelmepschen/">
    <picture class="pinterest"> <img src="" alt="Pinterest" /> </picture>
  </a>
  <a href="https://github.com/ChanelZM">
    <picture class="github"> <img src="" alt="Github" /> </picture>
  </a>
  <a href="https://www.instagram.com/chanelzippora/">
    <picture class="instagram"> <img src="" alt="Instagram" /> </picture>
  </a>
  <a href="https://nl.linkedin.com/in/chanel-mepschen-1223a9b2">
    <picture class="linkedin"> <img src="" alt="Linkedin" /> </picture>
  </a>
</section>
<%- include('../partials/footer.ejs') %>
