<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Chanel Mepschen - Visual Designer/Frontender</title>
      <%- include('../partials/style.ejs') %>
    </head>
    <body>
        <%- include('../partials/header.ejs') %>
        <main>
            <h1>De data van '45</h1>
            <img src="datavisualisatie.jpg" alt="Datavisualisation Design of the war graves in Amsterdam" />
            <p class="role">
                Visual Design
            </p>
            <h2>Design Challenge</h2>
            <p>
                Make a Data visualization of the war graves that cemetery "De Nieuwe Ooster" has and the associated data.
            </p>
            <h2>Process</h2>
            <p>
                lorem
            </p>
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
