<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Chanel Mepschen - Visual Designer/Frontender</title>
      <%- include('../partials/style.ejs') %>
    </head>
    <body>
        <%- include('../partials/header.ejs') %>
        <main class="detail">
            <section class="intro">
                <div>
                    <h1>De data van '45</h1>
                    <p>
                        A datavisualization of the fallen in WOII
                    </p>
                </div>
                <%- include('../partials/scroll.ejs') %>
            </section>
            <section class="content">
                <img src="/img/datavisualisatie.jpg" alt="Datavisualisation Design of the war graves in Amsterdam" />
                <p class="role">
                    Visual Design
                </p>
                <section>
                    <h2>Design Challenge</h2>
                    <p>
                        Create a data visualization of the war graves that cemetery "De Nieuwe Ooster" has and the associated data.
                    </p>
                </section>
                <section>
                    <h2>So what does it do?</h2>
                    <p>
                        Using D3.js we created a dashboard with a timeline that contains a line for every grave. The length of the line symbolizes the age of the person. The panels bottom right are filters you can use. You can filter on age, place to die, cemetery and civilian or soldier. The left panel will tell you more about the person when you hover over them in the timeline.
                    </p>
                    <a href="https://studie.timoverkroost.nl/nieuweooster/" class="view">View demo</a>
                </section>
                <section>
                    <h2>How did I do it?</h2>
                    <p>
                        For the duration of the project I worked with <a href="https://timoverkroost.nl/">Timo Verkroost</a>, Frontender, and Rowan Schoon, Interaction Designer.
                    </p>
                    <section>
                        <h3>Picking a Color</h3>
                        <p>
                            De Nieuwe Ooster wanted to emit the same identity that Amsterdam has. The Amsterdam sign uses a lot of white and a little bit of red, but I didn't want the visualization to look all red and white. Instead of using a lot of white I chose something more elegant: a yellow/golden color, a more warm and mellow color.
                        </p>
                    </section>
                    <section>
                        <h3>Picking Fonts</h3>
                        <p>
                            After choosing the colors, it was time to choose fonts. I found a 'Art Deco' kind of font that looks similar to the font that was used on the nameplates of the bridges all over the centre of Amsterdam. Perfect for headings but not for reading blobs I chose a sans-serif that the city of Amsterdam uses on their webpage.
                        </p>
                    </section>
                    <section>
                        <h3>Illustrations for filtering</h3>
                        <p>
                            Because only using checkboxes, radiobuttons, dropdowns and sliders is boring, I used illustrations to filter. Every tree symbolizes a season, depending on the amount of leaves, and the shape of the country (with labels if you don't know them) to symbolize place of death.
                        </p>
                    </section>
                </section>
            </section>
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
