<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Chanel Mepschen - Home</title>
      <%- include('../partials/style.ejs') %>
    </head>
    <body>
        <%- include('../partials/header.ejs') %>
        <main>
            <div>
                <h1>Chanel Mepschen</h1>
                <h2>Creative Coder</h2>
            </div>
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
