<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Chanel Mepschen - Home</title>
      <%- include('../partials/style.ejs') %>
    </head>
    <body class="home">
        <%- include('../partials/header.ejs') %>
        <main class="intro">
            <div>
                <img src="/img/logo.svg" alt="Logo" />
                <h1>Chanel Mepschen</h1>
                <h2>Creative Coder</h2>
                <blockquote>
                    I create accessible and cross-platform websites, where user experience is key.
                </blockquote>
            </div>
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
