<%- include('../partials/header.ejs') %>
<h1>ING Navigation</h1>
<p class="role">
  UX Design
</p>
<h2>Design Challenge</h2>
<p>
  Redesign the navigation of the ING app without using the hamburger pattern
</p>
<h2>Process</h2>
<p>
  Lorem
</p>
<%- include('../partials/footer.ejs') %>
