<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Chanel Mepschen - Visual Designer/Frontender</title>
      <%- include('../partials/style.ejs') %>
    </head>
    <body>
        <%- include('../partials/header.ejs') %>
        <main class="detail">
            <section class="intro">
                <div>
                    <h1>ING Navigation</h1>
                    <p>
                        Bottombar navigation for the ING App
                    </p>
                </div>
                <%- include('../partials/scroll.ejs') %>
            </section>
            <img src="/img/ingmenu.jpg" alt="Bottom bar navigation: Mobile redesign of the ING Menu" />
            <p class="role">
                UX Design
            </p>
            <h2>Design Challenge</h2>
            <p>
                Redesign the navigation of the ING app without using the hamburger pattern
            </p>
            <h2>Process</h2>
            <p>
                ING found that a hamburger menu was outdated and wanted to explore the possibilities of removing the menu and replacing it with something else.
            </p>
            <p>
                I created a bottom bar navigation with the most important tasks of their app. In apps for banking the most important feature is transfering money, thus this button has to stand out the most and in my design I placed it in the middle of the navigation and gave it the unique orange ING color.
            </p>
            <p>
                I had two final designs for this navigation: one with text and one without. Since users don't really no what to expect after clicking on one of the items, the one with text was more suitable in this case.
            </p>
            <p>
                Tasks that have more to do with settings are placed behind the typical settings icon in a dropdown list and if the user wants to log off they can use the left top icon.
            </p>
            <a href="#top">Back to top</a>
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
