<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Chanel Mepschen - Visual Designer/Frontender</title>
      <%- include('../partials/style.ejs') %>
    </head>
    <body>
        <%- include('../partials/header.ejs') %>
        <main class="detail">
            <section class="intro">
                <div>
                    <h1>Judgemental Terra</h1>
                    <p>
                        Real Time Web application to hate on Donald Trump
                    </p>
                </div>
                <%- include('../partials/scroll.ejs') %>
            </section>
            <img src="/img/judgementalterra.jpg" alt="Homepage of Judgemental Terra with Donald Trumps latest tweets" />
            <p class="role">
                Visual Design &amp; Front- and Back-end Development
            </p>
            <h2>Design Challenge</h2>
            <p>
                Create a Real Time Web application of a chosen topic. Include an API and use the information for your webapp.
            </p>
            <h2>So what does it do?</h2>
            <p>
                Using the Twitter REST API Trump's latest tweets are rendered inside Judgemental Terra. You can then comment negative things on his tweets and even dislike them.
            </p>
            <a href="https://api-real-time-web.herokuapp.com/" class="view">View demo</a>
            <a href="https://github.com/ChanelZM/api-real-time-web" class="view">View the code</a>
            <h2>How did I do it?</h2>
            <p>
                Creating something functional is the most important thing for me so I first make sure that everything works before adding CSS.
            </p>
            <h3>Setting up the back-end with Node.js</h3>
            <p>
                For this project I used Node.js to create a webapplication. Using Express I set up server. After using some other packages (See <a href="https://github.com/ChanelZM/api-real-time-web">Github</a> for a more detailed story), creating scripts, static html files and other usual things it was time to load the tweets.
            </p>
            <h3>Get a connecting with the Twitter API</h3>
            <p>
                Using the Twitter node-module I established a connection and requested Trump's latest tweets. After 'signing in' the tweets are then rendered. Using Multer and Bodyparser I was able to add comments to the html. Other people online would then see live commenting (using websockets).
            </p>
            <h3>Get a connecting with MongoDB</h3>
            <p>
                Without using MongoDB comments made wouldn't be saved so in order to do that I created a database on Mlab and added comments to that database, using Mongoose, after they were submitted. The same thing was done for disliking.
            </p>
            <h3>Adding style</h3>
            <blockquote>
                Creating something functional is the most important thing for me so I first make sure that everything works before adding CSS.
            </blockquote>
            <p>
                To create a better UX, CSS is needed. Because the name says Judgemental Terra I chose black as primary color and a background filled with stars.
            </p>
            <a href="#top">Back to top</a>
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
