<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Chanel Mepschen - Visual Designer/Frontender</title>
      <%- include('../partials/style.ejs') %>
    </head>
    <body>
        <%- include('../partials/header.ejs') %>
        <main class="detail">
            <section class="intro">
                <div>
                    <h1>Judgemental Terra</h1>
                    <p>
                        Real Time Web application to hate on Donald Trump
                    </p>
                </div>
                <%- include('../partials/scroll.ejs') %>
            </section>
            <img src="/img/judgementalterra.jpg" alt="Homepage of Judgemental Terra with Donald Trumps latest tweets" />
            <p class="role">
                Visual Design &amp; Front- and Back-end Development
            </p>
            <h2>Design Challenge</h2>
            <p>
                Create a Real Time Web application of a chosen topic. Include an API and use the information for your webapp.
            </p>
            <a href="https://api-real-time-web.herokuapp.com/">View demo</a>
            <a href="https://github.com/ChanelZM/api-real-time-web">View the code</a>
            <h2>Process</h2>
            <p>
                lorem
            </p>
            <a href="#top">Back to top</a>
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
