<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Chanel Mepschen - Work</title>
      <%- include('../partials/style.ejs') %>
    </head>
    <body>
        <%- include('../partials/header.ejs') %>
        <main>
            <div class="intro">
                <h1>Work</h1>
                <%- include('../partials/scroll.ejs') %>
            </div>
            <section class="work data45">
                <h2><a href="/work/data45">De data van '45</a></h2>
            </section>
            <section class="work xdconference">
                 <h2><a href="/work/xdconference">Experience Design Conference</a></h2>
            </section>
            <section class="work blackops">
                <h2><a href="/work/blackops">Black Ops II</a></h2>
            </section>
            <section class="work ingapp">
                <h2><a href="/work/ingapp">ING Navigation</a></h2>
            </section>
            <section class="work hatepage">
                <h2><a href="/work/hatepage">Donald Trump Hate Page</a></h2>
            </section>
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
