<%- include('../partials/header.ejs') %>
<div>
    <h1>Work</h1>
</div>
<section class="data45">
  <h2>De data van '45</h2>
</section>
<section class="xdconference">
  <h2>Experience Design Conference</h2>
</section>
<section class="blackops">
  <h2>Black Ops II</h2>
</section>
<section clas=="ingapp">
  <h2>ING Navigation</h2>
</section>
<%- include('../partials/footer.ejs') %>
