<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Chanel Mepschen - Visual Designer/Frontender</title>
      <%- include('../partials/style.ejs') %>
    </head>
    <body>
        <%- include('../partials/header.ejs') %>
        <main class="detail">
            <section class="intro">
                <div>
                    <h1>Experience Design Conference</h1>
                    <p>
                        XD Conference redesigned logo and webpage
                    </p>
                </div>
                <%- include('../partials/scroll.ejs') %>
            </section>
            <img src="/img/xdconf.jpg" alt="Experience Design Conference Design"  />
            <p class="role">
                Visual Design
            </p>
            <h2>Design Challenge</h2>
            <p>
                Redesign the Experience Design Conference webpage and logo in your image.
            </p>
            <h2>So what does it do?</h2>
            <p>
                The page gives information about the conference and the speakers. At the end of the page you can sign up to attend the conference. You can also suggest a speaker if you're missing one.
            </p>
            <h2>How did I do it?</h2>
            <p>
                During my internship at ING, they gave me an assignment to redesign the Experience Conference page. I could design it in my image but inside the boundaries of ING's styleguide.
            </p>
            <h3>Colors and shapes</h3>
            <p>
                XD Conference is about creating better costumer experience in the digital world. I wanted to design something that said "creativity" so I thought of dripping paint and using ING's secondary colors. ING's secondary colors includes blue, purple, orange, pink and green, perfect for emitting creativity.
            </p>
            <a href="#top">Back to top</a>
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
