<%- include('../partials/header.ejs') %>
<h1>Experience Design Conference</h1>
<img src="/img/xdconf.jpg" alt="Experience Design Conference Design"  />
<p class="role">
    Visual Design
</p>
<h2>Design Challenge</h2>
<p>
    Redesign the Experience Conference webpage and logo in your image.
</p>
<h2>Process</h2>
<p>
    During my internship at ING, they gave me an assignment to redesign the Experience Conference page. I could design it in my image but inside the boundaries of ING's styleguide.
</p>
<p>
    XD Conference is about creating better costumer experience in the digital world. I wanted to design something that said "creativity" so I thought of dripping paint and using ING's primary colors.
</p>
<%- include('../partials/footer.ejs') %>
