<%- include('../partials/header.ejs') %>
<h1>Experience Design Conference</h1>
<p class="role">
  Visual Design
</p>
<h2>Design Challenge</h2>
<p>
  Redesign the navigation of the ING app without using the hamburger pattern
</p>
<h2>Process</h2>
<p>
  lorem
</p>
<%- include('../partials/footer.ejs') %>
