/*
COLORS:
red: #E3003A
darkred: #7C3A4A
darkblue: #13818A
blue: #19A3A6
darkgrey: #8A8484
blackgrey: #4A4A4A
lightgrey: #F2EDF1
*/

/* GENERAL */
/* regular */
@font-face {
    font-family: 'August';
    src: url('../fonts/AugustSans-55Regular.otf');
    src: url('../fonts/AugustSans-55Regular.ttf');
}
/* bold */
@font-face {
    font-family: 'August Bold';
    src: url('../fonts/AugustSans-75Bold.otf');
    src: url('../fonts/AugustSans-75Bold.ttf');
    font-weight: bold;
}
/* italic */
@font-face {
    font-family: 'August Italic';
    src: url('../fonts/AugustSans-55RegularItalic.otf');
    src: url('../fonts/AugustSans-55RegularItalic.ttf');
    font-style: italic;
}
@keyframes jump {
    0%{transform: translateY(-50%)}
    10%{transform: translateY(0%)}
    15%{transform: translateY(-20%)}
    20%{transform: translateY(0%)}
    90%{transform: translateY(0%)}
    100%{transform: translateY(-50%)}
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
body {
    font-family: 'August', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}
header {
    display: flex;
    left: 0;
    padding: 0.5rem;
    position: absolute;
    justify-content: space-between;
    right: 0;
    top: 0;
    z-index: 1;
}
/* If main is not supported*/
main {
    display: block;
}
h1, h2 , h3 {
    font-family: 'Lobster', cursive;
    font-weight: normal;
    margin: 0;
}
h1 {
    font-size: 56px;
    font-size: 3.5rem;
}
h2 {
    color: #4A4A4A;
    font-size: 32px;
    font-size: 2rem;
    padding: 0.5rem 0;
}
h3 {
    color: #4A4A4A;
    font-size: 1.4rem;
    padding: 0.5rem 0;
}
h4, .work p {
    font-size: 12px;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    letter-spacing: 0.25rem;
}
a, a:visited {
    color: #13818A;
}
a:hover {
    color: #19A3A6;
    cursor: pointer;
}
p {
    font-size: 19px;
    font-size: 1.2rem;
    line-height: 24px;
    line-height: 1.5rem;
}
blockquote {
    display: none;
    font-family: Lobster, cursive;
    font-size: 40px;
    font-size: 2.5rem;
    text-align: left;
}
blockquote::before, blockquote::after {
    color: #8A8484;
    content: '"';
    display: block;
    font-family: 'Catamaran', serif;
    height: 80px;
    height: 5rem;
    font-size: 80px;
    font-size: 5rem;
}
strong {
    color: #19A3A6;
}
footer {
    bottom: 0;
    color: #8A8484;
    display: flex;
    font-style: italic;
    padding: 8px;
    padding: 0.5rem;
    position: absolute;
    left: 0;
    right: 0;
}
footer p {
    font-size: 15px;
    font-size: 0.9rem;
    margin: 0;
    padding-left: 8px;
    padding-left: 0.5rem;
}
footer img {
    height: 24px;
    height: 1.5rem;
}
header img {
    width: 48px;
    width: 2rem;
}
h2 span {
    color: #E3003A;
}
nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    letter-spacing: 0.15rem;
}
nav ul li {
    display: inline-block;
    opacity: 1;
    padding: 0.5rem;
    position: relative;
}
nav a, nav a:visited {
    color: white;
    text-decoration: none;
}
nav a:hover {
    color: white;
}
nav a::after {
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
main > section {
    padding: 0 8px;
    padding: 0 0.5rem;
}
.intro {
    background-color: #E3003A;
    color: white;
    height: 100vh;
    padding: 0;
    position: relative;
    width: 100vw;
}
.scrollanim {
    animation: jump 2s linear infinite;
    bottom: 64px;
    bottom: 4rem;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}
.scrollanim img {
    width: 32px;
    width: 2rem;
}
a.view {
    background-color: #E3003A;
    color: white;
    display: inline-block;
    font-family: 'Lobster', cursive;
    font-size: 19px;
    font-size: 1.2rem;
    margin: 0 0 8px 8px;
    margin: 0 0 1.5rem 0.5rem;
    padding: 8px;
    padding: 0.5rem;
    text-decoration: none;
    transition: background-color 0.2s;
}
a.view:hover {
    background-color: #7C3A4A;
}
div.intro h1 {
    top: 50%;
}
@supports(animation: fadeIn){
    body:not([class="home"]) header {
        animation: fadeIn ease-in;
        animation-delay: 0.6s;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    div.intro {
        animation: fadeIn ease-in;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
}
[href="#top"]{
    bottom: 0.7rem;
    position: absolute;
    right: 0.5rem;
    z-index: 1;
}
.intro > div, .intro > h1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
}
.topnav  li:hover::before {
    background: url('../img/logo-white.svg') no-repeat;
    background-position: center;
    bottom: 0;
    content: '';
    height: 2rem;
    left: 0;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 0;
}

/* HOME */
.home header {
    display: block;
    text-align: center;
}
.home header a {
    color: #E3003A;
}
.home  h1, .detail h1 {
    font-size: 24px;
    font-size: 2.5rem;
}
.home h2 {
    color: #8A8484;
    margin: 3px 0;
    margin: 0.2rem 0;
}
.home  h2, .detail .intro p, .role {
    font-family: 'August', sans-serif;
    font-size: 16px;
    font-size: 1rem;
    letter-spacing: 4px;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
}
.home footer, .home header img  {
    display: none;
}
.home .intro {
    background-color: white;
    color: #E3003A;
}
.home .topnav  li {
    position: relative;
}
.home .topnav  li:hover::before {
    background: url('../img/logo.svg') no-repeat;
    background-position: center;
    opacity: 0.3;
}
@supports(animation: fadeIn){
    .home .intro div {
        animation: fadeIn ease-in;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    .home .topnav  li:nth-of-type(1) {
        animation: fadeIn ease-in;
        animation-delay: 1s;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    .home .topnav  li:nth-of-type(2) {
        animation: fadeIn ease-in;
        animation-delay: 2s;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    .home .topnav  li:nth-of-type(3) {
        animation: fadeIn ease-in;
        animation-delay: 3s;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
}
.home .intro img {
    width: 48px;
    width: 3rem;
}

/* ABOUT */
.resume {
    padding-bottom: 48px;
    padding-bottom: 3rem;
}

/* WORK */
.hatepage {
    padding-bottom: 48px;
    padding-bottom: 3rem;
}
.works {
    padding-bottom: 3rem;
}
.data45 {
    background: url('../img/xsmall-ooster.jpg') no-repeat;
}
.xdconference {
    background: url('../img/xsmall-xd.jpg') no-repeat;
}
.blackops {
    background: url('../img/xsmall-blackops.jpg') no-repeat;
}
.ingapp {
    background: url('../img/xsmall-ing.jpg') no-repeat;
}
.hatepage {
    background: url('../img/xsmall-trump.jpg') no-repeat;
}
main .work {
    background-position: center;
    background-size: 100vw auto;
    height: 50vw;
    padding: 0;
    position: relative;
    width: 100vw;
}
.work div {
    background-color: rgba(25, 163, 166, 0.6);
    bottom: 0;
    left: 0;
    padding-top: 15vw;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    transition: background-color 0.5s;
}
.work p {
    background-color: #E3003A;
    color: white;
    display: none;
    margin: 0;
    padding: 0.2rem 0.2rem 0 0.2rem;
}
.resume svg {
    float: left;
    margin: 1rem 0.5rem 0 0;
}
.resume svg:hover #Rectangle-78, .resume svg:hover #Line-Copy, .resume svg:hover #Line-Copy-3, .resume svg:hover #Line-Copy-4, .resume svg:hover #Line-Copy-2, .resume svg:hover #Oval-1-Copy, .resume svg:hover #Oval-1, .resume svg:hover #Line-Copy-5 {
    stroke: #E3003A;
}
.resume svg:hover #Fill-2-Copy-2 {
    fill: white;
}
.resume svg:hover #Stroke-1-Copy {
    stroke: white;
}
.resume svg:hover {
    background-color: #E3003A;
}
.work div:hover {
    background-color: rgba(25, 163, 166, 0.9);
}
.work a, .work a:visited {
    color: white;
    text-decoration: none;
}
.work a::after {
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.work div:hover p {
    display: inline-block;
}

/* CONTACT */
.contact {
    box-sizing: border-box;
    min-height: 100vh;
    width: 100vw;
}
.socialmedia {
    padding-bottom: 3rem;
}
.role {
    color: #8A8484;
}
.socialmedia a {
    display: inline-block;
    text-decoration: none;
}
.socialmedia svg {
    padding: 6px;
    padding: 0.4rem;
    width: 48px;
    width: 3rem;
}
.socialmedia svg:hover {
    background-color: #E3003A;
}
.socialmedia svg:hover .st0 {
    stroke: white;
}
.socialmedia svg:hover .st1 {
    stroke: white;
    fill: white;
}
.socialmedia svg:hover .st2 {
    fill: #E3003A;
}
.socialmedia a[href="https://github.com/ChanelZM"] svg .st0 {
    fill: #13818A;
}
.socialmedia a[href="https://github.com/ChanelZM"] svg .st1 {
    fill: none;
    stroke: #13818A;
}
.socialmedia a[href="https://github.com/ChanelZM"] svg:hover .st0 {
    fill: white;
}
.socialmedia a[href="https://github.com/ChanelZM"] svg:hover .st1 {
    fill: none;
    stroke: white;
}

/* DETAIL PAGE*/
.detail p, .detail h2, .detail h3 {
    padding: 0 8px;
    padding: 0 0.5rem;
}
.detail .intro {
    background-color: #13818A;
}
.detail > img {
    width: 100%;
}
@supports(animation: fadeIn){
    .detail .intro {
        animation: fadeIn ease-in;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
}
.detail .intro p, .detail .role {
    font-size: 13px;
    font-size: 0.8rem;
}
.detail .intro div {
    margin: 0 32px;
    margin: 0 2rem;
}
.detail > p:last-of-type {
    margin-bottom: 0;
    padding-bottom: 48px;
    padding-bottom: 3rem;
}

@media screen and (min-width: 26rem){
    .hatepage {
        background: url('../img/small-trump.jpg') no-repeat;
    }
    .data45 {
        background: url('../img/small-ooster.jpg') no-repeat;
    }
    .xdconference {
        background: url('../img/small-xd.jpg') no-repeat;
    }
    .blackops {
        background: url('../img/small-blackops.jpg') no-repeat;
    }
    .ingapp {
        background: url('../img/small-ing.jpg') no-repeat;
    }
    main > section {
        margin-left: auto;
        margin-right: auto;
    }
    .detail .intro p, .detail .role {
        font-size: 16px;
        font-size: 1rem;
        line-height: 32px;
        line-height: 2rem;
    }
}

@media screen and (min-width: 40rem){
    .topnav {
        margin-left: 32px;
        margin-left: 2rem;
        margin-top: 2rem;
    }
    .hatepage {
        background: url('../img/medium-trump.jpg') no-repeat;
    }
    .data45 {
        background: url('../img/medium-ooster.jpg') no-repeat;
    }
    .xdconference {
        background: url('../img/medium-xd.jpg') no-repeat;
    }
    .blackops {
        background: url('../img/medium-blackops.jpg') no-repeat;
    }
    .ingapp {
        background: url('../img/medium-ing.jpg') no-repeat;
    }
    .home blockquote {
        display: block;
        font-size: 3.5rem;
        margin: 2rem 2rem 0 2rem;
        order: 1;
    }
    .home div {
        display: flex;
        flex-direction: column;
    }
    .home h1 {
        filter: grayscale(100%);
        font-size: 1.9rem;
        margin-left: 2rem;
        opacity: 0.6;
        order: 3;
        text-align: left;
    }
    .home h2 {
        font-size: 0.9rem;
        margin-left: 3.6rem;
        order: 4;
        text-align: left;
    }
    .topnav ul {
        text-align: left;
        font-size: 17px;
        font-size: 1.1rem;
    }
    .topnav li {
        display: block;
        padding-left: 0;
    }
    .intro > div {
        position: static;
        transform: none;
    }
    .home #top {
        position: static;
    }
    .home header a {
        color: #333;
    }
    .home .intro {
        height: auto;
    }
    .home .intro  img {
        filter: grayscale(100%);
        margin: 0 0 1rem 7rem;
        opacity: 0.6;
        order: 2;
        width: 2.2rem;
    }
}
