/*
COLORS:
red: #E3003A
darkblue: #13818A
blue: #19A3A6
darkgrey: #8A8484
lightgrey: #F2EDF1
*/

/* GENERAL */
/* regular */
@font-face {
    font-family: 'August';
    src: url('../fonts/AugustSans-55Regular.otf');
    src: url('../fonts/AugustSans-55Regular.ttf');
}

/* bold */
@font-face {
    font-family: 'August';
    src: url('../fonts/AugustSans-55Regular.otf');
    src: url('../fonts/AugustSans-55Regular.ttf');
    font-weight: bold;
}

/* italic */
@font-face {
    font-family: 'August';
    src: url('../fonts/AugustSans-55RegularItalic.otf');
    src: url('../fonts/AugustSans-55RegularItalic.ttf');
    font-style: italic;
}

@keyframes jump {
    0%{transform: translateY(-50%)}
    10%{transform: translateY(0%)}
    15%{transform: translateY(-20%)}
    20%{transform: translateY(0%)}
    90%{transform: translateY(0%)}
    100%{transform: translateY(-50%)}
}

body {
    font-family: 'August', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

header {
    display: flex;
    left: 0;
    padding: 0.5rem;
    position: absolute;
    justify-content: space-between;
    right: 0;
    top: 0;
    z-index: 1;
}

/* If main is not supported*/
main {
    display: block;
}

h1, h2 , h3 {
    font-family: 'Lobster', cursive;
}

h1 {
    font-size: 56px;
    font-size: 3.5rem;
    margin: 0;
}

h2 {
    font-size: 32px;
    font-size: 2rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 12px;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    letter-spacing: 0.25rem;
}

a, a:visited {
    color: #13818A;
}

a:hover {
    color: #19A3A6;
}

p {
    font-size: 1.2rem;
    line-height: 1.8rem;
}

footer {
    bottom: 0;
    color: #8A8484;
    display: flex;
    font-style: italic;
    padding: 8px;
    padding: 0.5rem;
    position: absolute;
    left: 0;
    right: 0;
}

footer p {
    font-size: 15px;
    font-size: 0.9rem;
    margin: 0;
    padding-left: 8px;
    padding-left: 0.5rem;
}

footer img {
    height: 24px;
    height: 1.5rem;
}

header img {
    width: 48px;
    width: 2rem;
}

h2 span {
    color: #E3003A;
}

nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    letter-spacing: 0.15rem;
}

nav ul li {
    display: inline-block;
    padding: 0.5rem;
    position: relative;
}

nav a, nav a:visited {
    color: white;
    text-decoration: none;
}

nav a::after {
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

main > section {
    padding: 0 8px;
    padding: 0 0.5rem;
}

.intro {
    background-color: #E3003A;
    color: white;
    height: 100vh;
    padding: 0;
    position: relative;
    width: 100vw;
}

.scrollanim {
    animation: jump 2s linear infinite;
    bottom: 64px;
    bottom: 4rem;
    margin: 0;
    position: absolute;
    left: 45%;
    right: 0;
    text-align: center;
}

.scrollanim {
    width: 2rem;
}

div.intro h1 {
    top: 45%;
}

[href="#top"]{
    bottom: 0.7rem;
    position: absolute;
    right: 0.5rem;
    z-index: 1;
}

.intro > div, .intro > h1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
}

/* HOME */
.home  h1, .detail h1 {
    font-size: 24px;
    font-size: 2.5rem;
}

.home  h2, .detail .intro p {
    font-family: 'August', sans-serif;
    font-size: 16px;
    font-size: 1rem;
    letter-spacing: 4px;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
}

.home footer {
    display: none;
}

/* ABOUT */
.resume {
    padding-bottom: 48px;
    padding-bottom: 3rem;
}

/* WORK */
.hatepage {
    padding-bottom: 48px;
    padding-bottom: 3rem;
}

.work a, .work a:visited {
    color: black;
    text-decoration: none;
}

/* CONTACT */
.contact {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}

.socialmedia a {
    display: inline-block;
    text-decoration: none;
}

.socialmedia svg {
    padding: 6px;
    padding: 0.4rem;
    width: 48px;
    width: 3rem;
}

.socialmedia svg:hover {
    background-color: #E3003A;
}

.socialmedia svg:hover .st0 {
    stroke: white;
}

.socialmedia svg:hover .st1 {
    stroke: white;
    fill: white;
}

.socialmedia svg:hover .st2 {
    fill: #E3003A;
}

.socialmedia a[href="https://github.com/ChanelZM"] svg .st0 {
    fill: #13818A;
}

.socialmedia a[href="https://github.com/ChanelZM"] svg .st1 {
    fill: none;
    stroke: #13818A;
}

.socialmedia a[href="https://github.com/ChanelZM"] svg:hover .st0 {
    fill: white;
}

.socialmedia a[href="https://github.com/ChanelZM"] svg:hover .st1 {
    fill: none;
    stroke: white;
}

/* DETAIL PAGE*/
.detail img {
    width: 100%;
}

.detail p, .detail h2 {
    padding: 0 8px;
    padding: 0 0.5rem;
}

.detail .intro div {
    margin: 0 32px;
    margin: 0 2rem;
}

.detail .intro {
    background-color: #13818A;
}

.detail > p:last-of-type {
    margin-bottom: 0;
    padding-bottom: 48px;
    padding-bottom: 3rem;
}
